* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

[class*=col-] {
  float: left;
}

[class*=col-]::after {
  clear: both;
}

.row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.container-fluid {
  width: 100%;
}

.clear-fix {
  clear: both;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .col-s-1 {
    width: 8.3333333333%;
  }
  .col-s-2 {
    width: 16.6666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.3333333333%;
  }
  .col-s-5 {
    width: 41.6666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.3333333333%;
  }
  .col-s-8 {
    width: 66.6666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.3333333333%;
  }
  .col-s-11 {
    width: 91.6666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
header {
  display: flex;
  flex-direction: column;
}
header .header__top {
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 115px;
}
header .header__top__input {
  width: 50%;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
header .header__top__input-section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  background: #F6F6F8;
  padding-left: 15px;
  line-height: 36px;
  border-radius: 8px;
}
header .header__top__input-section-input input {
  background: #F6F6F8;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}
header .header__top__input-region {
  display: flex;
  align-items: center;
  gap: 9px;
}
header .header__top__profile ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .header__top__profile ul li {
  margin: 0 12px;
}
header .header__bottom {
  background-color: #1D2123;
  padding: 16px 115px;
}
header .header__bottom ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

main .promotion {
  background: #FFFFFF;
  position: relative;
  padding: 16px 115px;
}
main .promotion_img img {
  width: 100%;
}
main .promotion-button {
  position: absolute;
  border: none;
  border-radius: 50%;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
main .promotion-button span svg {
  width: 20px;
  height: 20px;
}
main .promotion .left {
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
}
main .promotion .right {
  top: 50%;
  right: 6%;
  transform: translate(-50%, -50%);
}
main .promotion div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
main .promotion div:last-child span:first-child,
main .promotion div:last-child span:last-child {
  border-radius: 50%;
  padding: 5px;
  background-color: #E0E0E0;
}
main .promotion div:last-child span:nth-child(2) {
  background-color: #828282;
  padding: 5px;
  border-radius: 50%;
}
main .sellings {
  padding: 16px 115px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .sellings__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .sellings__section_span1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #1D2123;
}
main .sellings__section_span2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #1D2123;
}
main .sellings_cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .sellings_cards .cards {
  background-color: #FFFFFF;
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
main .sellings_cards .cards .product {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .sellings_cards .cards .product img {
  width: 222px;
  margin: 0 auto;
}
main .sellings_cards .cards .product p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
main .sellings_cards .cards .product_stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
main .sellings_cards .cards .product_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
main .sellings_cards .cards .product_price span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ED008C;
}
main .promotion2 {
  padding: 16px 115px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main .promotion2 img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */