@import url("https://fonts.googleapis.com/css2?family=K2D:wght@500;600;700;800&display=swap");
$bodyBackgroundColor: #f2f8fb;
$fontColor: #989a9b;
$pricesColor: #ff7a58;
$fontFamily: "K2D", sans-serif;
$font-size: 13px;
$price-font-size: 22px;
$star-color: #f5c40b;