.col-4 {
    width: 30%;
    height: 400px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    overflow: hidden;
    gap: 10px;

    .card-img img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0.8;
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover {
            opacity: 1;
        }
    }

    .card-content {
        padding: 0 13px;

        div:first-child p {
            font-size: $font-size;
            text-align: justify;
            color: $fontColor;
        }

        hr {
            margin: 7px 0;
        }

        .price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-section {
                display: flex;
                flex-direction: column;

                span:first-child {
                    color: $pricesColor;
                    font-size: $price-font-size;
                }

                span:last-child {
                    color: $fontColor;
                    font-size: $font-size;
                }
            }

            &-rating {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 4px;

                span:first-child {
                    color: $star-color;
                    font-size: $font-size;
                    letter-spacing: 5px;
                }

                span:last-child {
                    color: $fontColor;
                    font-size: $font-size;
                }
            }
        }
    }
}


// phone model
@media only screen and (max-width: 576px) {
    .col-4 {
        width: 100%;
        height: 552px;
    }
}

@media only screen and (max-width: 973px) {
    .col-4 {
        width: 48%;

    }
}