@mixin transform {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin buttons-parts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

@mixin nameOfSocialMedias {
    border: 0px solid black;
    padding: 1px 3px;
    background-color: $littleButtons-color;
    color: $littleButtons-backgroundcolor;
}

@mixin little-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    background-color: $littleButtons-backgroundcolor;
    color: $littleButtons-color;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}